/* Define standard variables and values for website */
$bgcolor: #f226f2;
$centralized: center;
$font-family: 'Georgia';


body {
    display: flex;
    align-items: $centralized;
    justify-content: $centralized;
    height: 70vh;
    background-color: $bgcolor;
}

.page-header {
    border: none;
    margin-top: 25%;
    size-adjust: 100%;
    text-size-adjust: 100%;
    font-size-adjust: $centralized;
    font-weight: bolder;
    block-size: 100%;
}

.first-header {
    padding-top: 1%;
    border: none;
    h1 {
        font-family: $font-family;
        font-style: normal;
        font-size: larger;
        letter-spacing: normal;
    }
}

section.input {
    width: 100%;

    #addName {
        text-size-adjust: 4%;

    }

    #addNameToList {
        text-decoration: solid;
        text-decoration-color: rgb(235, 247, 255);
        text-size-adjust: 4%;
        text-transform: uppercase;
    }


    input[type="text"] {
        width: 83%;
        height: 7px;
        background: #ece3e3e0;
        padding: 5px;
        font: 100 16px/1.5 'Roboto', sans-serif;
        transition: border 0.3s linear;
        vertical-align: middle;
        line-height: 18px;
        
    
      }

    button {
        vertical-align: middle;
        line-height: 8px;
        padding: 6px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        background-color: #1d31e9;
        color: white;
    }
}

section.output {
    display: flexbox;
    padding-top: 6%;


    .output-header {
        text-align: $centralized;
        font-weight: bold;
}
    #outputList {
        background-color: white;
        border-radius: 15px;
        height: 40vh;
        margin-top: 6px;
    }

    #ordered-list {
        padding-top: 8px;

    }
}
