
  @import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Lora&family=Merriweather:wght@300;700&family=Open+Sans:wght@300;400&family=Poppins:wght@300;400&family=Ubuntu:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Lora", serif;
}

body{
    align-items: center;
   display: flex;
   justify-content: center;
    /* min-height: 100vh; */
}

.main{
    background: rgb(247, 48, 157);
    width: 50em;
    height: 65%;
    margin-top: 8em;
    padding: 2em;
    align-items: center;
   

}


h1{
    margin: 2em;
    text-align: center;
}

input{
    background-color: rgb(210, 223, 210);
    border: none;
    width: 20em;
    height: 35px;
    padding: 5px;
    margin: 0 5px 5px 20px;
    font-size: 20px;
}

.addList{
    display: flex;
    justify-content: center;
    gap: 10px;

}

button{
    background: rgb(120, 14, 251);
    border-radius: 20px;
    width: 130px;
    height: 35px;
    color: white;
    border: none;
    font-size: 20px;
}

h2{
    text-align: center;
    margin-top: 50px;
}

.nameList{
    width: 90%;
    height: 10em;
    margin-left: 1em;
    border-radius: 1em;
    border: .15em rgba(14, 13, 13, 0.555)  solid;
    background: white;
    margin-top: 1em;
    /* min-width: 70%; */
    font-size: 1.5rem;

}

ol {
    margin: 0 5px 5px 25px;
    font-weight: lighter;
    padding: 1em;
    
}

li{
    margin-top: 10px;
    
}

@media (max-width: 700px){
    .addList{
        flex-direction: column;
        align-items: center;
    }
}