body,h1,p{
        margin: 0;
    }

.wego {
   background: rgb(72, 74, 101);
   width: 40%;
   height: 35em;
   margin: 10px;
   padding: 10px;
   text-align: center;
   border: 5px rgb(13, 63, 202) solid;
}

.home {
   margin: 80px auto;
   padding: auto 10px;
}
.home h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 10px;
}

.home input {
    margin-top: 10px;

}

.home.home-page {
    display: none;
}

.calculate-wages.inactive {
    display: none;
}

nav {
   text-align: center; 
    border: 3px white solid;
   padding: 5px;
    width: 180px;
    
}
nav h1{
    margin: 0;
    color: #fff;
    font-size: 60px;

}

.sub-text {
    margin-top: .5em;
    font-size: 2rem;
    color: #fff;
}

h3{
   font-size: 2rem;
   color: #fff;
}

.contracted-commisioned{
    
    display: none;
}

.contracted-commisioned.sales {
    display: flex;
    justify-content: center;
    gap: 2em;

} 

input{
    height: 3em;
    font-size: 1.5rem;
}

button{
    padding: 15px;
    font-size: 1.5rem;
}

select{
    width: 30%;
    height: 3em;
    margin: 30px;
    font-size: 20px;
}

.salary-breakdown {
     margin: 10px;
}

p{
    font-size: 2rem;
}

@media (max-width: 1000px){
    .wego{
        background: rgb(72, 74, 101);
        width: 30em;
        height: 35em;
        margin: auto;
        padding: 5px;
        
        border: 5px rgb(13, 63, 202) solid;
     }
     
     nav {
        text-align: center; 
         border: 3px white solid;
        padding: 2px;
         width: 150px;
         
     }
     nav h1{
         margin: 0;
         color: #fff;
         font-size: 45px;
     
     }
         
         
     
     
     
     .sub-text {
         margin-top: .5em;
         font-size: 1rem;
         color: #fff;
     }

     select{
        width: 40%;
        font-size: 15px;
    }
     
     h3{
        font-size: 2rem;
        color: #fff;
     }
     
     .contracted-commisioned{
         
         display: none;
     
       
     }
     
     .contracted-commisioned.sales {
         display: flex;
         justify-content: center;
         gap: 1em;
     
     } 
     
     input{
         height: 2em;
         font-size: 1.5rem;
     }
     
     button{
         padding: 10px;
         font-size: 1rem;
     }
     
   
     
     p{
         font-size: 2rem;
     }

}