.iconButton {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #FFBD59;
}

.addIcon {
    position: fixed;
    align-items: center;
    color: #000814;
}

.iconButton--small {
    color: #000814;
}

.iconButton--medium {
    color: #000814;
}

.iconButton--large {
    color: #000814;
}