/* Changing Browser's Default Style */
* {
    margin: 0;
    padding:0;
}


body {
/*Master Styles*/
    background-color: #ff66c4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    }

/*Style Rules for Form*/  
.form {
position: absolute;
margin: auto;
}

/*Style Rules for Hero Section*/
.hero {
    padding-top: 60px;
    margin-bottom: 25px;
}

.newtask {
    margin-top: 50px;  
    margin-bottom: 50px;  
}

/*Style Rules for input*/ 
input {
    padding-left: 10px;
    background-color: #d9d9d9;
    border:0px;
    outline: none;
    width: 25%;
    height: 40px;
    font-size: 17px;
   }

::placeholder {
    color: black;
}

/* Style Rules for Button */
button {
    border-radius: 17px;
    border:2px solid rgb(95, 25, 235);;
    outline: none;
    margin-left: 15px;
    width: 10%;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color:#ffffff;
    cursor: pointer;
    background-color: rgb(95, 25, 235);
    }

/* Style Rules for Task Section */



    .task {
        font-weight:lighter;
        max-width: 500px;
        height: 350px;
        margin: auto;
        border: 1px solid black;
        border-radius: 30px;
        background-color: #fff;
    }

    

    
