@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;600&display=swap');

* {
    --font-family: 'Archivo', sans-serif;
    font-family: 'Archivo', sans-serif;
    --bg:#ff66c4;
    --input-bg:#d9d9d9;
    --grey: #888888;
    --btn:#5e17eb;
    --white: #fff;
}

body{
    background-color: var(--bg);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 1.5rem;
}

.wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.sect{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    line-height: .8;
    /* for media queries */
    font-size: clamp(1.75rem, 3vw, 2.5rem);
    text-align: center;
    line-height: 1;
}

h3{
    line-height: .5;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    text-align: center;
}

li {
    font-family: var(--font-family);
    font-size: 12.5px;
    margin-bottom: 13.5px;
  }
  
  /* to create margin between the data and the list*/
  li::marker {
    margin-right: 10px;
  }

#add-btn{
    border: 0px transparent;
    padding: 8px 10px;
    width: 125px;
    font-size: 1rem;
    border-radius: 20px;
    text-align: center;
    color: var(--white);
    background-color:var(--btn);
    line-height: 1.2;
    cursor: pointer;
    margin-left: 0.85rem;
    }

    #add-btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }  

input{
  padding:10px;
  width:auto;
  background-color: var(--input-bg);
  max-width:250px;
  min-width: 170px;
  border:none;
  
}

::placeholder {
    text-align: left;
    color: var(--grey);
}

#box{
    border:.5px solid rgb(129, 129, 129);
    border-radius: 25px;
    width: 31.75%;
    height:17.5rem;
    overflow:auto;
    background-color: var(--white);
    text-align: left;
    font-size: .8rem;
    padding: 20px 10px;

}