.btn {
    border: none;
    width: 12em;
    height: 2em;
    background: none;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
    
}

.btn:hover{
    background: rgba(164, 163, 163, 0.153);
}

.space-list {
    list-style: none;
    padding: 8px;
    width: 10em;
    margin: 2px;
}
.space-list:hover {
    background: rgba(164, 163, 163, 0.137) ;
}