.playlist-body {
        width: 70%;
        margin: 70px;
}
.playlist-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
}

.playlist-heading {
        text-align: center;
        font-size: 1.9rem;

}